 <div class="container-fluid"  ng-controller="courseCtrl"  >
 <div style="float:left;width:25%;overflow:hidden">
     <ul class="list-group" ng-repeat="course in courseList">
                <li id="item{{$index}}" class="list-group-item list-group-item-info" ng-click="getTopics($index)"
                     ng-class="{active: $index === selected}">{{course.course}}</li>  
            </ul>
</div>
 <div  style="float:left;width:75%;overflow:hidden">
     <ul class="list group" ng-repeat="topic in currentTopic">
                <li class="list-group-item list-group-item-success" >{{topic.name}}</li>  
                  <ul ng-repeat="subtopic in topic.subtopics">
                    <li>{{subtopic.name}}</li>
                  </ul>
        </ul>
</div>
<!--<div class="panel-group" id="accordion">
    <div ng-repeat="course in courseList">
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4 class="panel-title">
                <button type="button" data-parent="#accordion"  style="width:100%;background:none;color:black;border:0px" class="btn btn-info" data-toggle="collapse" data-target="#item{{$index+1}}">{{course.course}}</button>
            </h4>
          </div>
          <div id="item{{$index+1}}"  class="panel-collapse collapse">
            <div class="panel-body">
            <ul class="list group" ng-repeat="topic in course.topics">
                <li class="list-group-item list-group-item-success">{{topic.name}}</li>  
                  <ul ng-repeat="subtopic in topic.subtopics">
                    <li>{{subtopic.name}}</li>
                  </ul>
            </ul>
            </div>
          </div>
          
       </div>
   </div>
     
</div>-->
</div> 